* {
    margin: 0;
    padding: 0;
    min-width: 0;
    min-height: 0;
}

a {
    text-decoration: none;
    color: rgb(41, 57, 201);
}

@font-face {
  font-family: 'Outfit';
  src: url('./fonts/Outfit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
